/*
Add styles or override the theme's variables here.
*/

html.smooth-scroll {
  scroll-behavior: smooth;
}

// Theme colors
$primary:  #673AB7;
$primary-rgba: rgba(103, 58, 183, 0.2);
$primary-dark: #491c99;
$primary-light: #9d7dd6;
$secondary: #fff;
$cta: #ffc107;
$cta-dark: #ffac07;

$info: #adb5bd;
$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: rgba(0, 0, 0, 0.6);
$orange: orange;
$lightgray: rgba(221, 221, 221, 0.5);

// Nav bar colors
$white: #fff;
// 

// Fonts
$google_font_name: "Nunito";
$google_font_family: "Nunito:300,300i,400,400i,700,700i&display=swap" !default;

