{{ $links := .Site.Params.links }}
<footer class="bg-dark pt-5 mt-5 d-flex flex-column align-items-center">
  <section id="contactus" class="row align-items-center text-center text-lg-left">
      <div class="goal-wrapper row position-static">
          <div class="d-flex flex-column align-items-center w-100 pt-5">
              <h2 class="section-head text-center">Contact Us</h2>
              <p class="text-center">We want to hear from you. Write to us here:</p>
              <form class="text-center">
                  <div class="form-group">
                      <input type="text" class="form-control" id="name" placeholder="Name*" aria-label="name" aria-describedby="name">
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control" id="email" placeholder="Email*" aria-label="name" aria-describedby="email">
                  </div>
                  <div class="form-group">
                      <textarea class="form-control" id="message" placeholder="Message*" rows="3"  aria-label="name" aria-describedby="message"></textarea>
                  </div>
                  <button type="submit" class="btn cta">Send</button>
              </form>
          </div>
      </div>
  </section>  
  <section class="container-fluid pt-5 mx-sm-5">
    <div class="col d-sm-flex flex-sm-wrap">
      <div class="col-sm-3 text-center py-2 order-sm-2">
        {{ with $links }}
        {{ with index . "user"}}
        {{ template "footer-links-block"  . }}
        {{ end }}
        {{ end }}
      </div>
      <div class="col-sm-6 text-center py-2 order-sm-2">
        {{ with .Site.Params.copyright }}<small class="text-white">&copy; {{ now.Year}} {{ .}} {{ "| Documentation Distributed under CC BY 4.0" }}</small>{{ end }}
        {{ with .Site.Params.privacy_policy }}<p><small class="ml-1"><a href="{{ . }}" target="_blank" rel="noopener">{{ T "footer_privacy_policy" }}</a></small></p>{{ end }}
        {{ if not .Site.Params.ui.footer_about_disable }}
          {{ with .Site.GetPage "about" }}<p class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></p>{{ end }}
        {{ end }}
      </div>
    </div>
  </section>
</footer>

{{ define "footer-links-block" }}
  <ul class="list-inline mb-0">
    {{ range . }}
    <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="{{ .name }}" aria-label="{{ .name }}">
      <a class="text-white" target="_blank" rel="noopener" href="{{ .url }}" aria-label="{{ .name }}">
        <i class="{{ .icon }}"></i>
      </a>
    </li>
    {{ end }}
  </ul>
{{ end }}
