
<script>
  var partnersData = {{ .Site.Data.partners | jsonify }};
</script>

<section id='partners' class="row">
    <div class="col">
      <h3 class="section-head">Suppoters & Contributors</h3>
      <div class="mb-4">
        {{ range $index, $partner := .Site.Data.partners }}
            <h4 class="section-subhead">{{ $partner.name }}</h4>
            <div id="partner-group" class="container-fluid pt-4 mb-5 justify-content-center align-items-center">
                <div id="wrapper-{{ $index }}" class="wrapper" data-interval="5000">
                    <i id="left" class="fa-solid fa-angle-left"></i>
                    <ul id="carousel-{{ $index }}" class="carousel">
                        {{ range $itemIndex, $item := $partner.items }}
                            <li class="partner-img-wrapper card">
                                <div class="img">
                                    <img src="{{ $item.url }}" class="img-fluid mx-auto d-block border-0 rounded-0 shadow-none" alt="{{ $item.alt }}" draggable="false">
                                </div>
                            </li>
                        {{ end }}
                    </ul>
                    <i id="right" class="fa-solid fa-angle-right"></i>
                </div>
                <div id="flex-wrapper-{{ $index }}"class="flex-wrapper">
                  {{ range $itemIndex, $item := $partner.items }}
                    <div class="partner-img-wrapper card">
                      <div class="img">
                        <img
                          src="{{ $item.url }}"
                          class="img-fluid mx-auto d-block border-0 rounded-0 shadow-none"
                          alt="{{ $item.alt }}"
                          draggable="false"
                        />
                      </div>
                    </div>
                  {{ end }}
                </div>
            </div>
        {{ end }}
        </div>
    </div>
</section>



