  <h4 class="section-subhead">Phase {{ .phase }}</h4>
  <div class="wrapper pt-4 d-flex flex-wrap">
    {{ range .volunteers }}
      <div class="volunteer py-md-2 d-flex align-items-center position-relative">
        <span class="volunteer-badge flex-shrink-0" style="background: #f1f1f1 url('{{ .imageUrl }}') no-repeat center; background-size: cover;" data-name="{{ .name }}" data-image="{{ .imageUrl }}"></span>
        <div class="d-flex flex-column pl-2 py-2">
          <a href="{{ .linkedinUrl }}" target="_blank"  class="volunteer-title flex-grow-1 stretched-link">{{ .name }}</a>
          <span class="org">{{ .org }}</span>
        </div>
      </div>
    {{ end }}
  </div>