<section id='partners'>
    <div class="container">
      <h3 class="section-head">Partners</h3>
      <div class="mb-4">
        {{ range .Site.Data.partners }}
                <h4 class="section-subhead">{{ .name }}</h4>
                <div id="partner-group" class="mb-5 d-flex flex-wrap align-items-center justify-content-md-center">
                    {{ range .items }}
                        <div class="partner-img-wrapper">
                            <img src="{{ .url }}" class="img-fluid border-0 rounded-0 shadow-none" style="object-fit: cover; vertical-align: middle;" alt="{{ .alt }}">
                        </div>
                    {{ end }}
                </div>
        {{ end }}
    </div>
    </div>
</section>